<section class="center-vertical">
	<h1><%= current_user.name %>の投稿</h1>
	<div class="center-hrizontal">
		<% if !@posts.empty? %>
		<% @posts.each do |posting| %>
			<div class="post center-vertical">
			<img src= "<%= posting["jacket"] %>">
			<p><%= posting["artist"] %></p>
			<p><%= posting["album"] %></p>
			<p><%= posting["music"] %></p>
			<a href="<%= posting["resource"] %>">サンプル</a>
			<p>コメント: <%= posting["comment"] %></p>
			<a href="/delete/<%= posting.id %>">削除</a>
			<a href="/edit/<%= posting.id %>">編集</a>
	</div>
	</div>
		<% end %>
		<% else %>
		<p>投稿がありません</p>
		<% end %>
		
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のイイねした投稿</h1>
	<% if !@likenames.empty? %>
	<% @likenames.each do |likename| %>
		<div class="post center-vertical">
			<img src= "<%= Submission.find_by(id: likename.post_id).jacket %>">
			<p><%= Submission.find_by(id: likename.post_id).artist %></p>
			<p><%= Submission.find_by(id: likename.post_id).album %></p>
			<p><%= Submission.find_by(id: likename.post_id).music %></p>
			<a href="<%= Submission.find_by(id: likename.post_id).resource %>">サンプル</a>
			<p>投稿者:<%= User.find_by(id: likename.user_id).name %>
			<p>コメント:<%= Submission.find_by(id: likename.post_id).comment %></p>
	        <p>いいねしたユーザー</p>
	        <%# 変数にいいねした投稿のidと同じテーブルだけを抽出する%>
	        <% @favorites = Like.where(post_id: likename.post_id) %>
	        <p><% @favorites.each do |favorite| %>
	        	<%= User.find_by(id: favorite.user_id).name %>
	        <% end %></p>
			<a href="/favorite/delete/<%= likename.id %>">お気に入り削除</a>
		</div>
	<% end %>
	<% else %>
	<p>イイねがありません</p>
	<% end %>
</section>
<!--
<section class="center-vertical">
	<h1><%#= current_user.name %>のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1><%#= current_user.name %>のフォロワー</h1>
</section>
-->